POSTGRES_DB=labdb
POSTGRES_USER=labuser
POSTGRES_PASSWORD=REPLACE_WITH_A_LAB_PASSWORD
PGADMIN_DEFAULT_EMAIL=admin@pens.ac.id
PGADMIN_DEFAULT_PASSWORD=REPLACE_WITH_A_LAB_PASSWORD
POSTGRES_HOST_PORT=15432
PGADMIN_HOST_PORT=15050
